In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("bank-full.csv", sep = ";")
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.replace('unknown', np.nan, inplace=True)

In [ ]:
df.isna().sum()

In [6]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
df.previous.value_counts()

0      36954
1       2772
2       2106
3       1142
4        714
5        459
6        277
7        205
8        129
9         92
10        67
11        65
12        44
13        38
15        20
14        19
17        15
16        13
19        11
23         8
20         8
22         6
18         6
24         5
27         5
29         4
25         4
21         4
30         3
28         2
26         2
37         2
38         2
55         1
40         1
35         1
58         1
51         1
41         1
32         1
275        1
Name: previous, dtype: int64

In [8]:
df.month.value_counts()

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [9]:
len(df)

45211

In [10]:
df.isna().sum()

age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
y                0
dtype: int64

In [11]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [12]:
df.campaign

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       2
29       1
        ..
45181    2
45182    2
45183    1
45184    1
45185    1
45186    1
45187    1
45188    1
45189    1
45190    1
45191    1
45192    1
45193    2
45194    2
45195    1
45196    1
45197    1
45198    2
45199    3
45200    4
45201    1
45202    1
45203    1
45204    1
45205    2
45206    3
45207    2
45208    5
45209    4
45210    2
Name: campaign, Length: 45211, dtype: int64

In [13]:
X_enc = pd.get_dummies(df[['marital', 'campaign', 'education', 'default', 'housing', 'loan', 'contact','y']], drop_first= True)

numeric_data = df[['age', 'balance', 'duration', 'campaign', 'pdays', 'previous']]

cleaned_data_concat = pd.concat([numeric_data, X_enc], axis=1)

In [14]:
cleaned_data_x = cleaned_data_concat.iloc [:,:-1]
cleaned_data_x
cleaned_data_y = cleaned_data_concat.iloc [:,-1:]
cleaned_data_y

       y_yes
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
...      ...
45181      0
45182      1
45183      0
45184      0
45185      1
45186      0
45187      1
45188      1
45189      0
45190      1
45191      1
45192      1
45193      1
45194      0
45195      1
45196      1
45197      1
45198      0
45199      0
45200      1
45201      1
45202      1
45203      1
45204      1
45205      1
45206      1
45207      1
45208      1
45209      0
45210      0

[45211 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(cleaned_data_x, cleaned_data_y, test_size=0.1, random_state= 1254)

In [16]:
import statsmodels.api as sm

In [36]:
X = sm.add_constant(x_train)
y = y_train
logit_mod = sm.Logit(y, X)
logit_res = logit_mod.fit(disp=True)

Optimization terminated successfully.
         Current function value: inf
         Iterations 7

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1724: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

In [23]:
X.dtypes

const                  float64
age                      int64
balance                  int64
duration                 int64
campaign                 int64
pdays                    int64
previous                 int64
campaign                 int64
marital_married          uint8
marital_single           uint8
education_secondary      uint8
education_tertiary       uint8
default_yes              uint8
housing_yes              uint8
loan_yes                 uint8
contact_telephone        uint8
dtype: object

In [37]:
logit_mod.fit().summary()

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1724: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

Optimization terminated successfully.
         Current function value: inf
         Iterations 7

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  y_yes   No. Observations:                40689
Model:                          Logit   Df Residuals:                    40674
Method:                           MLE   Df Model:                           14
Date:                Tue, 02 Jul 2019   Pseudo R-squ.:                     inf
Time:                        12:59:18   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
                                        LLR p-value:                     1.000
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  -3.3075      0.122    -27.018      0.000      -3.547      -3.068
age                     0.0091      0.002      4.930      0.000       0.005       0.013
balance              1.838e-05   4.78e-06      3.847      0.000    9.02e-06    2.77e-05
duration                0.0039   6.34e-05     61.864      0.000       0.004       0.004
campaign               -0.0664    9.2e+05  -7.22e-08      1.000    -1.8e+06     1.8e+06
pdays                   0.0029      0.000     16.562      0.000       0.003       0.003
previous                0.0845      0.008     10.169      0.000       0.068       0.101
campaign               -0.0664    9.2e+05  -7.22e-08      1.000    -1.8e+06     1.8e+06
marital_married        -0.1319      0.057     -2.300      0.021      -0.244      -0.020
marital_single          0.3190      0.065      4.917      0.000       0.192       0.446
education_secondary     0.2102      0.052      4.066      0.000       0.109       0.312
education_tertiary      0.4838      0.054      8.883      0.000       0.377       0.591
default_yes            -0.3862      0.169     -2.288      0.022      -0.717      -0.055
housing_yes            -1.1610      0.039    -29.998      0.000      -1.237      -1.085
loan_yes               -0.6918      0.060    -11.546      0.000      -0.809      -0.574
contact_telephone       0.1011      0.072      1.399      0.162      -0.041       0.243
=======================================================================================
"""

In [48]:
import sklearn.linear_model
sk_model = sklearn.linear_model.LogisticRegression(C=1e10)
sk_res = sk_model.fit(X, y)
score = sk_res.score

/Users/Mango/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)