### Distributions, sampling, confidence & t-test

1. Write a for loop that prints numbers that are divisible by 2 up to 10 (incl.)

In [60]:
numbers = 11
number2 = []
for i in range(numbers):
    if i%2 == 0:
        number2.append(i)
    else:
        pass
number2

[0, 2, 4, 6, 8, 10]

2. Write a for loop that prints numbers from 1 to 10 (incl.), with an 80% chance of each number being printed (e.g. 1, 2, 4, 5, 7, 8, 9, 10)

In [63]:
numbers = 11
number2 = []
for i in range(numbers):
    if np.random.binomial(1, .8, 1)==1:
        number2.append(i)
    else:
        pass
number2

[0, 1, 2, 4, 5, 6, 7, 10]

3. Tossing a coin one time fits which distribution?
    - Tossing it multiple times would fit which distribution?

In [ ]:
#One time fits a bernouli distribution
#multiple times fits a binomial distribution

4. Write a function that calculates the chances to get 60 heads or more in 100 tosses of a coin if the coin is fair. 

Hint: Do this by running a simulation.

In [68]:
import numpy as np

###To make list of coin flips
sample_size = 1000000
sixty_heads=[]
under_sixty=[]

for i in range(sample_size):
    #100 coin flips with a probability of flipping heads at 0.5
    #sample size is 1
    coin_flip = np.random.binomial(100, .5, 1)
    number_heads = sum(coin_flip)
    if number_heads > 60:
        sixty_heads.append(number_heads)
    else:
        under_sixty.append(number_heads)
##Proportion of heads greater than 60
probability = len(sixty_heads)/(len(sixty_heads)+len(under_sixty))
print(probability)

#Probability is roughly 1.75%

0.017766

5. According to the exercise in question #4 explain:
    - If you were to create a hypothesis test, what would your null hypothesis be? (specifically for question #4)
    - What is your P-value? (specifically for question #4)

#Is the mean probability of flipping a coin 60% of the time different from 1.75%?
#I would run a t test on the distribution of the mean proportion of heads flipped per sample of 100 and then run a t test on that distribution.  I would get a mean proportion value and a confidence interval and I could then check the p-value from the t test.

6. Load the student-mat.csv dataset and perform a t-test comparing final grades of males vs females. Before running the test, remove individuals that scored 0. Use only the sex and G3 (final grade) columns to run your test.
    
    - Is there a significant difference between how women and men perform? 
    - What is your p-value? How would you interpret it?

In [78]:
import pandas as pd
df = pd.read_csv('student-mat.csv')
df.head

<bound method NDFrame.head of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10
20  ...      4        4      1     1     1      1        0  13  14  15
21  ...      5        4      2     1     1      5        0  12  15  15
22  ...      4        5      1     1     3      5        2  15  15  16
23  ...      5        4      4     2     4      5        0  13  13  12
24  ...      4        3      2     1     1      5        2  10   9   8
25  ...      1        2      2     1     3      5       14   6   9   8
26  ...      4        2      2     1     2      5        2  12  12  11
27  ...      2        2      4     2     4      1        4  15  16  15
28  ...      5        3      3     1     1      5        4  11  11  11
29  ...      4        4      5     5     5      5       16  10  12  11
..  ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365 ...      3        3      4     2     4      3        4  10  10  10
366 ...      4        2      2     2     2      5        0  13  13  13
367 ...      5        2      1     1     2      1        0   7   6   0
368 ...      5        2      3     1     2      4        0  11  10  10
369 ...      3        2      2     4     2      5       10  14  12  11
370 ...      3        2      2     1     1      3        4   7   7   9
371 ...      4        3      3     2     3      3        3  14  12  12
372 ...      3        4      3     1     1      3        8  13  11  11
373 ...      3        5      5     1     3      1       14   6   5   5
374 ...      5        4      4     1     1      1        0  19  18  19
375 ...      4        3      2     1     2      4        2   8   8  10
376 ...      5        4      3     1     1      3        4  15  14  15
377 ...      5        4      3     3     4      2        4   8   9  10
378 ...      4        1      3     1     2      1        0  15  15  15
379 ...      4        5      4     2     3      1       17  10  10  10
380 ...      3        2      4     1     4      2        4  15  14  14
381 ...      4        4      3     1     3      5        5   7   6   7
382 ...      4        4      3     1     1      3        2  11  11  10
383 ...      4        3      2     1     3      5        0   6   5   0
384 ...      5        4      3     4     3      3       14   6   5   5
385 ...      5        3      3     1     3      4        2  10   9  10
386 ...      4        4      3     2     2      5        7   6   5   6
387 ...      5        4      2     1     2      5        0   7   5   0
388 ...      4        3      4     1     1      1        0   7   9   8
389 ...      1        1      1     1     1      5        0   6   5   0
390 ...      5        5      4     4     5      4       11   9   9   9
391 ...      2        4      5     3     4      2        3  14  16  16
392 ...      5        5      3     3     3      3        3  10   8   7
393 ...      4        4      1     3     4      5        0  11  12  10
394 ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [79]:
df3 = df[df['G3'] != 0]

In [80]:
df3

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,MS,M,18,R,LE3,T,1,1,at_home,other,...,4,4,3,2,3,5,2,13,12,12
362,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,0,11,11,10
363,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,0,16,15,15
364,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,12,11,12
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [83]:
import statsmodels.api as sm

Y = df3['G3']
X = df3['sex']
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
results.params

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).