# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/Mango/Desktop/Flatiron_Warmups/dc_ds_04_22_19/module_1/day_4_lecture_1_manipulating_with_pandas
total 88
drwxr-xr-x   9 Mango  staff    288 Apr 25 10:05 .
drwxr-xr-x  14 Mango  staff    448 Apr 25 10:04 ..
drwxr-xr-x   2 Mango  staff     64 Apr 25 10:05 .ipynb_checkpoints
-rw-r--r--   1 Mango  staff     95 Apr 25 10:04 ds_chars.csv
-rw-r--r--   1 Mango  staff  11328 Apr 25 10:04 heart.csv
drwxr-xr-x   4 Mango  staff    128 Apr 25 10:04 images
-rw-r--r--   1 Mango  staff  16603 Apr 25 10:04 manipulating_data_with_pandas.ipynb
-rw-r--r--   1 Mango  staff   3297 Apr 25 10:04 pre_process_animal_shelter_data.py
-rw-r--r--   1 Mango  staff    130 Apr 25 10:04 states.csv

In [3]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [4]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [5]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [7]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [11]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [12]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [13]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [14]:
# Your code here!

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [restecg] of <class 'str'>

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [ ]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [32]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A793392,NaN,04/24/2019 09:37:00 PM,04/24/2019 09:37:00 PM,04/22/2019,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,White/Black
1,A793087,*Jeepers,04/24/2019 07:04:00 PM,04/24/2019 07:04:00 PM,04/19/2017,Adoption,NaN,Dog,Neutered Male,2 years,Harrier Mix,Black/Tricolor
2,A793417,Diamond,04/24/2019 07:04:00 PM,04/24/2019 07:04:00 PM,04/24/2018,Return to Owner,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,Chocolate/White
3,A793416,NaN,04/24/2019 07:00:00 PM,04/24/2019 07:00:00 PM,02/24/2019,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon Mix,Black/White
4,A772415,Sky,04/24/2019 06:48:00 PM,04/24/2019 06:48:00 PM,04/12/2018,Adoption,Foster,Dog,Spayed Female,1 year,Border Collie Mix,Sable

In [55]:
new_names = ['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s', 'animal', 'sex', 'age', 'breed', 'color']
animal_outcomes.columns = new_names

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [45]:
def successor(x):
    return x + 1

In [46]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [47]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [59]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [58]:
uci['age'].map(lambda x: str(x))[:3]

0    63
1    37
2    41
Name: age, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [72]:
animal_outcomes['date'] = animal_outcomes['date'].map(lambda x: x[:10])
animal_outcomes.dtypes

TypeError: 'Timestamp' object is not subscriptable

In [71]:
animal_outcomes['date'] = pd.to_datetime(animal_outcomes['date'])
animal_outcomes[''] = pd.to_datetime(animal_outcomes['Date of Birth'])
animal_outcomes.dtypes

KeyError: 'Date of Birth'

In [75]:
animal_outcomes['dob'] = pd.to_datetime(animal_outcomes['dob'])
animal_outcomes.dtypes

id                   object
name                 object
date         datetime64[ns]
monthyear            object
dob          datetime64[ns]
outcome              object
outcome_s            object
animal               object
sex                  object
age                  object
breed                object
color                object
DateTime             object
dtype: object

In [78]:
animal_outcomes['age_in_days'] = animal_outcomes['date'] - animal_outcomes['dob']
animal_outcomes

,id,name,date,monthyear,dob,outcome,outcome_s,animal,sex,age,breed,color,DateTime,age_in_days
0,A793392,NaN,2019-04-24,04/24/2019 09:37:00 PM,2019-04-22,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,White/Black,04/24/2019,2 days
1,A793087,*Jeepers,2019-04-24,04/24/2019 07:04:00 PM,2017-04-19,Adoption,NaN,Dog,Neutered Male,2 years,Harrier Mix,Black/Tricolor,04/24/2019,735 days
2,A793417,Diamond,2019-04-24,04/24/2019 07:04:00 PM,2018-04-24,Return to Owner,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,Chocolate/White,04/24/2019,365 days
3,A793416,NaN,2019-04-24,04/24/2019 07:00:00 PM,2019-02-24,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon Mix,Black/White,04/24/2019,59 days
4,A772415,Sky,2019-04-24,04/24/2019 06:48:00 PM,2018-04-12,Adoption,Foster,Dog,Spayed Female,1 year,Border Collie Mix,Sable,04/24/2019,377 days
5,A793162,NaN,2019-04-24,04/24/2019 06:47:00 PM,2019-01-20,Adoption,NaN,Dog,Neutered Male,3 months,Harrier Mix,Tricolor,04/24/2019,94 days
6,A792860,NaN,2019-04-24,04/24/2019 06:40:00 PM,2014-04-16,Adoption,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair Mix,Brown,04/24/2019,1834 days
7,A790254,Drake,2019-04-24,04/24/2019 06:17:00 PM,2017-03-07,Return to Owner,NaN,Dog,Intact Male,2 years,Cane Corso Mix,Brown Brindle,04/24/2019,778 days
8,A793150,NaN,2019-04-24,04/24/2019 06:09:00 PM,2017-04-20,Transfer,Snr,Cat,Intact Male,2 years,Domestic Longhair Mix,Black/White,04/24/2019,734 days
9,A793329,*Grey Wind,2019-04-24,04/24/2019 05:47:00 PM,2018-12-23,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd Mix,Tan/Black,04/24/2019,122 days
10,A728768,*Woobie,2019-04-24,04/24/2019 05:47:00 PM,2015-09-19,Adoption,Foster,Dog,Neutered Male,3 years,Labrador Retriever Mix,Black/White,04/24/2019,1313 days
11,A793185,NaN,2019-04-24,04/24/2019 05:31:00 PM,2019-02-20,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,Brown Brindle,04/24/2019,63 days
12,A793376,Owen,2019-04-24,04/24/2019 05:30:00 PM,2015-07-24,Return to Owner,NaN,Dog,Intact Male,3 years,Beagle Mix,Tricolor,04/24/2019,1370 days
13,A791264,Arlo,2019-04-24,04/24/2019 05:17:00 PM,2018-03-23,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Black/White,04/24/2019,397 days
14,A771540,Big Sherm,2019-04-24,04/24/2019 05:10:00 PM,2010-05-06,Adoption,Foster,Dog,Neutered Male,8 years,Staffordshire/American Bulldog,White/Brown,04/24/2019,3275 days
15,A793160,Luna,2019-04-24,04/24/2019 05:10:00 PM,2019-02-11,Adoption,NaN,Dog,Spayed Female,2 months,Pbgv Mix,Black/Brown,04/24/2019,72 days
16,A793309,NaN,2019-04-24,04/24/2019 04:56:00 PM,2019-01-23,Adoption,NaN,Cat,Neutered Male,2 months,Siamese Mix,Lynx Point/White,04/24/2019,91 days
17,A488234,Spot,2019-04-24,04/24/2019 04:39:00 PM,2005-10-02,Return to Owner,NaN,Dog,Neutered Male,13 years,German Shepherd/Labrador Retriever,Brown/Black,04/24/2019,4952 days
18,A793310,NaN,2019-04-24,04/24/2019 04:25:00 PM,2019-01-23,Adoption,NaN,Cat,Spayed Female,2 months,Siamese Mix,Lynx Point/White,04/24/2019,91 days
19,A793307,NaN,2019-04-24,04/24/2019 04:24:00 PM,2019-01-23,Adoption,NaN,Cat,Spayed Female,2 months,Siamese Mix,Lynx Point/White,04/24/2019,91 days
20,A793161,NaN,2019-04-24,04/24/2019 04:15:00 PM,2019-01-20,Adoption,NaN,Dog,Spayed Female,3 months,Blue Lacy Mix,Blue/White,04/24/2019,94 days
21,A792748,Oliver,2019-04-24,04/24/2019 03:12:00 PM,2017-04-15,Return to Owner,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby,04/24/2019,739 days
22,A793389,NaN,2019-04-24,04/24/2019 02:33:00 PM,2018-04-24,Euthanasia,Suffering,Other,Unknown,1 year,Raccoon Mix,Black/Gray,04/24/2019,365 days
23,A766592,Coco,2019-04-24,04/24/2019 02:25:00 PM,2016-11-12,Return to Owner,NaN,Dog,Intact Male,2 years,Chihuahua Shorthair Mix,Tan/Brown,04/24/2019,893 days
24,A793354,NaN,2019-04-24,04/24/2019 01:49:00 PM,2019-03-15,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,04/24/2019,40 days
25,A793355,NaN,2019-04-24,04/24/2019 01:49:00 PM,2019-03-15,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie/White,04/24/2019,40 days
26,A793356,NaN,2019-04-24,04/24/2019 01:49:00 PM,2019-03-15,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Cream Tabby,04/24/2019,40 days
27,A793353,NaN,2019-04-24,04/24/2019 01:49:00 PM,2017-04-23,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair Mix,Orange Tabby/White,04/24/2019,731 days
28,A793357,NaN,2019-04-24,04/24/2019 01:49:00 PM,2019-03-15,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Orange Tabby,04/24/2019,40 days
29,A793358,NaN,2019-04-24,04/24/2019 01:49:00 PM,2019-03-15,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Blue/Tortie,04/24/2019,40 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98835,A663887,Hooch,2013-10-01,10/01/2013 03:07:00 PM,2010-09-25,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White,10/01/2013,1102 days
98836,A663935,NaN,2013-10-01,10/01/2013 02:15:00 PM,1999-09-26,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown,10/01/2013,5119 days
98837,A663201,Buck,2013-10-01,10/01/2013 02:14:00 PM,2011-09-14,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White,10/01/2013,748 days
98838,A663955,NaN,2013-10-01,10/01/2013 02:13:00 PM,1999-09-27,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan,10/01/2013,5118 days
98839,A664171,Knight,2013-10-01,10/01/2013 01:59:00 PM,2012-12-30,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black,10/01/2013,275 days
98840,A663938,NaN,2013-10-01,10/01/2013 01:16:00 PM,2003-09-27,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan,10/01/2013,3657 days
98841,A664260,NaN,2013-10-01,10/01/2013 01:00:00 PM,2013-09-10,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White,10/01/2013,21 days
98842,A664261,NaN,2013-10-01,10/01/2013 01:00:00 PM,2013-09-10,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie,10/01/2013,21 days
98843,A664262,NaN,2013-10-01,10/01/2013 12:59:00 PM,2013-09-22,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,10/01/2013,9 days
98844,A664263,NaN,2013-10-01,10/01/2013 12:58:00 PM,2013-09-22,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,10/01/2013,9 days
98845,A664271,NaN,2013-10-01,10/01/2013 12:57:00 PM,2013-09-24,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby,10/01/2013,7 days
98846,A663495,Pikachu,2013-10-01,10/01/2013 12:45:00 PM,2013-05-19,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie,10/01/2013,135 days
98847,A664219,NaN,2013-10-01,10/01/2013 12:34:00 PM,2013-08-08,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White,10/01/2013,54 days
98848,A613553,Beast,2013-10-01,10/01/2013 12:32:00 PM,2010-05-06,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White,10/01/2013,1244 days
98849,A664258,Sylvio,2013-10-01,10/01/2013 12:27:00 PM,2006-10-01,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver,10/01/2013,2557 days
98850,A648744,Claire,2013-10-01,10/01/2013 12:27:00 PM,2012-03-04,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor,10/01/2013,576 days
98851,A663546,*Gage,2013-10-01,10/01/2013 12:24:00 PM,2011-09-20,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle,10/01/2013,742 days
98852,A664225,Lou,2013-10-01,10/01/2013 12:13:00 PM,2010-09-30,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White,10/01/2013,1097 days
98853,A663342,Deco,2013-10-01,10/01/2013 12:05:00 PM,2012-09-17,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White,10/01/2013,379 days
98854,A656894,Jake,2013-10-01,10/01/2013 11:53:00 AM,2013-04-22,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black,10/01/2013,162 days
98855,A661795,Blakie,2013-10-01,10/01/2013 11:53:00 AM,2013-03-25,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie,10/01/2013,190 days
98856,A663833,Baby Girl,2013-10-01,10/01/2013 11:50:00 AM,2004-09-24,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black,10/01/2013,3294 days
98857,A663572,*Starla,2013-10-01,10/01/2013 11:42:00 AM,2010-09-21,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown,10/01/2013,1106 days
98858,A663888,NaN,2013-10-01,10/01/2013 11:13:00 AM,2011-09-25,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White,10/01/2013,737 days
98859,A663646,NaN,2013-10-01,10/01/2013 11:12:00 AM,2010-09-22,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White,10/01/2013,1105 days
98860,A664223,Moby,2013-10-01,10/01/2013 11:03:00 AM,2009-09-30,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White,10/01/2013,1462 days
98861,A664237,NaN,2013-10-01,10/01/2013 10:44:00 AM,2013-09-24,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,10/01/2013,7 days
98862,A664236,NaN,2013-10-01,10/01/2013 10:44:00 AM,2013-09-24,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,10/01/2013,7 days
98863,A664235,NaN,2013-10-01,10/01/2013 10:39:00 AM,2013-09-24,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,10/01/2013,7 days
98864,A659834,*Dudley,2013-10-01,10/01/2013 09:31:00 AM,2013-07-23,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black,10/01/2013,70 days

In [ ]:
animal_outcomes['age_in_days'] = animal_outcomes['date'] - animal_outcomes['dob']

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [79]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

Lastly, use a groupby to show the average age of the different kinds of animal types. Hint: use `.unique()` on a column to see what unique values are in the column.

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').tail(10)

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### `pd.concat()`

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
pd.melt(ds_full, id_vars=)

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here

## Assessment & Reflection